/***** Constants *****/

:root {
  /***** COLORS *****/

  --primary: #26A69A;
  --dark: #0B322E;
  --lightDark: #5C706E;
  --lightGrey: #B8B8B8;
  --lightPrimary: #E3FFFC;
  --primaryWhite: #F7FAFA;
  --darkGrey: #333333;
  --grey: #777777;
  --white: #FFFFFF;

  /***** Fonts *****/

  --accentFont: 'Stalemate', cursive;
  --navFont: 'Montserrat', sans-serif;
  --bodyFont: 'Ubuntu', sans-serif;
}

/***** Main *****/

#app {
  width: 100%;
  height: 100%;
}

/***** Animations *****/


.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

